@model OrderSoftV0.Models.Index

@{
    ViewBag.Title = "Menu | OrderSoft ";
}

<div class="row">
    <div class="col-sm-1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <b>Mesa: </b>@ViewBag.Message

            </div>
            <div class="panel-body">
                <button name="mesa" type="button" class="btn btn-primary">M1</button>
                <button name="mesa" type="button" class="btn btn-primary">M2</button>
                <button name="mesa" type="button" class="btn btn-primary">M3</button>
                <button name="mesa" type="button" class="btn btn-primary">M4</button>
                <button name="mesa" type="button" class="btn btn-primary">M5</button>
                <button name="mesa" type="button" class="btn btn-primary">M6</button>
                <button name="mesa" type="button" class="btn btn-primary">M7</button>
                <button name="mesa" type="button" class="btn btn-primary">M9</button>
            </div>
        </div>
    </div>
    <div class="col-sm-11">

        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#menu0">Carta</a></li>
            <li><a data-toggle="tab" href="#menu1">Corriente</a></li>
            <li><a data-toggle="tab" href="#menu2">Bebidas</a></li>
            <li><a data-toggle="tab" href="#menu3">Adicionales</a></li>
            <li><a data-toggle="tab" href="#menu4">Otros</a></li>
        </ul>

        <div class="tab-content">
            <div id="menu0" class="tab-pane fade in active">
                <br />
                <div class="row">
                    <div class="card">
                        <div class="card-body col-md-3 col-sm-3" style="width: 18rem; border: 1px solid #ccc; border-radius: 3px; padding: 5px; margin-left: 6px;">
                            <img src="~/Imagen/platos/plato1.jpg" class="card-img-top" width="100%">
                            <div class="card-body">
                                <h5 class="card-title" id="tPlato1">Carne asada y papas francesas</h5>
                                <div class="input-group">
                                    <input type="number" class="form-control" value="0" min="0" readonly />
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-default">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                        <button type="button" class="btn btn-default">
                                            <span class="glyphicon glyphicon-minus"></span>
                                        </button>
                                        <div class="btn-group" role="group">
                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="glyphicon glyphicon-eye-open"></span>
                                            </button>
                                            <ul class="dropdown-menu" style="padding: 5px;">
                                                <li><input type="checkbox" value="Tajadas" />Tajadas</li>
                                                <li><input type="checkbox" value="Tajadas" />Tajadas</li>
                                                <li><input type="checkbox" value="Tajadas" />Tajadas</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body col-md-3 col-sm-3" style="width: 18rem; border: 1px solid #ccc; border-radius: 3px; padding: 5px; margin-left: 6px;">
                            <img src="~/Imagen/platos/plato1.jpg" class="card-img-top" width="100%">
                            <div class="card-body">
                                <h5 class="card-title" id="tPlato1">Carne asada y papas francesas</h5>
                                <div class="input-group">
                                    <input type="text" class="form-control" readonly />
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-default">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                        <button type="button" class="btn btn-default">
                                            <span class="glyphicon glyphicon-minus"></span>
                                        </button>
                                        <button type="button" class="btn btn-default">
                                            <span class="glyphicon glyphicon-eye-open"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
            </div>

            <div id="menu1" class="tab-pane fade">
                <div class="row">
                    <div class="col-sm-12">
                        <br>
                        <div class="card">
                            <button type="button" name="addPlato" class="btn btn-primary" style="width: 100%;">
                                Adicionar plato
                            </button>
                        </div>
                        <br>
                        <ul class="list-group">
                            <li class="list-group-item" data-toggle="collapse" data-target="#plato1">Plato 1</li>
                            <div id="plato1" class="collapse card">
                                <div class="btn-group btn-group-sm">
                                    <button type="button" name="p1entrada" class="btn btn-outline-primary">Sopa</button>
                                    <button type="button" name="p1entrada" class="btn btn-outline-primary">Fruta</button>
                                    <button type="button" name="p1entrada" class="btn btn-outline-primary">Huevo</button>
                                </div>
                                <br>
                                <div class="btn-group btn-group-sm">
                                    <button type="button" name="p1principio" class="btn btn-outline-success">Lenteja</button>
                                    <button type="button" name="p1principio" class="btn btn-outline-success">Frijol rojo</button>
                                    <button type="button" name="p1principio" class="btn btn-outline-success">Frijol negro</button>
                                </div>
                                <br>
                                <div class="btn-group btn-group-sm">
                                    <button type="button" name="p1otros" class="btn btn-outline-secondary active">Arroz </button>
                                    <button type="button" name="p1otros" class="btn btn-outline-secondary active">Ensalada </button>
                                    <button type="button" name="p1otros" class="btn btn-outline-secondary active">Platano </button>
                                    <button type="button" name="p1otros" class="btn btn-outline-secondary">Arroz </button>
                                </div>
                            </div>
                        </ul>
                        <br>
                    </div>
                </div>
            </div>

            <div id="menu2" class="tab-pane fade">
                <br />
                <div class="row">
                    <div class="card">
                        <div class="card-body col-md-3 col-sm-3" style="width: 18rem; border: 1px solid #ccc; border-radius: 3px; padding: 5px; margin-left: 6px;">
                            <img src="~/Imagen/platos/plato1.jpg" class="card-img-top" width="100%">
                            <div class="card-body">
                                <h5 class="card-title" id="tPlato1">Coca-Cola 250ml</h5>
                                <div class="input-group">
                                    <input type="number" class="form-control" value="0" min="0" readonly />
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-default">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                        <button type="button" class="btn btn-default">
                                            <span class="glyphicon glyphicon-minus"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <br />
            </div>

            <div id="menu3" class="tab-pane fade">
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input c" id="Comida8" value="2000">
                    <label class="custom-control-label" for="Comida8" id="LabelComida8">Limonada- $ 2.000</label>
                </div>

                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input c" id="Comida9" value="2000">
                    <label class="custom-control-label" for="Comida9" id="LabelComida9">Coca-cola - $ 2.000</label>
                </div>

            </div>
        </div>

        <div class="card">
            <div class="row">
                <div class="col-sm-6">
                    <button type="button" id="ordenar" class="btn btn-block btn-primary" disabled>Ordenar</button>
                </div>
            </div>
        </div>
    </div>

</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/MenuCliente") 