@model OrderSoftV0.Models.Menu

@{
    ViewBag.Title = "Menu | OrderSoft ";
}

<div class="row">
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <b>Mesa: </b>@ViewBag.nombre
            </div>
            <div class="panel-body">
                <button name="mesa" type="button" class="btn btn-primary">M1</button>
                <button name="mesa" type="button" class="btn btn-primary">M2</button>
                <button name="mesa" type="button" class="btn btn-primary">M3</button>
                <button name="mesa" type="button" class="btn btn-primary">M4</button>
                <button name="mesa" type="button" class="btn btn-primary">M5</button>
                <button name="mesa" type="button" class="btn btn-primary">M6</button>
                <button name="mesa" type="button" class="btn btn-primary">M7</button>
                <button name="mesa" type="button" class="btn btn-primary">M8</button>
            </div>
        </div>
        <br>
        <div class="panel panel-default">
            <div class="panel-heading">
                <center><b>Adicionales</b></center>
            </div>
            <div class="panel-body">
                <input type="text" class="form-control" name="mesa" hidden />
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="tajadas" name="tajadas">
                    <label class="custom-control-label" for="tajadas">
                        Tajadas (1)
                    </label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="papas" name="papas">
                    <label class="custom-control-label" for="papas">Tajadas</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="maiz" name="maiz">
                    <label class="custom-control-label" for="maiz">Tajadas</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="fritas" name="fritas">
                    <label class="custom-control-label" for="fritas">Tajadas</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="albondigas" name="albondigas">
                    <label class="custom-control-label" for="albondigas">Tajadas</label>
                </div>
            </div>
            <div class="panel-footer">
                <center>
                    <button type="button" name="addFactura" class="btn btn-primary">Agregar a factura</button>
                </center>
            </div>
        </div>
    </div>

    <div class="col-sm-8">

        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"></li>
            <li role="presentation" class=""></li>
            <li role="presentation" class="">Especiales</li>
        </ul>

        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#menu0">Corriente</a></li>
            <li><a data-toggle="tab" href="#menu1">Carta</a></li>
        </ul>

        <div class="tab-content">
            <div id="menu0" class="tab-pane fade in active">
                <h3>Platos corriente</h3>
                <div class="btn-group btn-group-sm">
                    <button type="button" name="p1entrada" class="btn btn-primary">Sopa</button>
                    <button type="button" name="p1entrada" class="btn btn-primary">Fruta</button>
                    <button type="button" name="p1entrada" class="btn btn-primary">Huevo</button>
                </div>
                <br>
                <div class="btn-group btn-group-sm">
                    <button type="button" name="p1principio" class="btn btn-success">Lenteja</button>
                    <button type="button" name="p1principio" class="btn btn-success">Frijol rojo</button>
                    <button type="button" name="p1principio" class="btn btn-success">Frijol negro</button>
                </div>
                <br>
                <div class="btn-group btn-group-sm">
                    <button type="button" name="p1otros" class="btn btn-secondary active">Arroz </button>
                    <button type="button" name="p1otros" class="btn btn-secondary active">Ensalada </button>
                    <button type="button" name="p1otros" class="btn btn-secondary active">Platano </button>
                    <button type="button" name="p1otros" class="btn btn-secondary">Arroz </button>
                </div>

            </div>

            <div id="menu1" class="tab-pane fade">
                <h3>Carta</h3>
                <div class="row">
                    <div class="card col-md-3 col-sm-3" style="width: 18rem;">
                        <img src="~/Imagen/platos/plato1.jpg" class="card-img-top" width="100%">
                        <div class="card-body">
                            <h5 class="card-title" id="tPlato1">Carne asada y papas francesas</h5>
                            <p class="card-text">150 gr de carne 3/4 bañada en salsa BBQ.</p>
                            <button class="btn btn-info c" id="Plato1" value="16500">Agregar</button>
                        </div>
                    </div>
                    <div class="card col-md-3 col-sm-3" style="width: 18rem;">
                        <img src="~/Imagen/platos/plato2.jpg" class="card-img-top" width="100%">
                        <div class="card-body">
                            <h5 class="card-title" id="tPlato2">Hamburguesa</h5>
                            <p class="card-text">Cuenta con 200 gr de carne 3/4  apanada tomates cebollas.</p>
                            <button class="btn btn-info c" id="Plato2" value="18000">Agregar</button>
                        </div>
                    </div>
                    <div class="card col-md-3 col-sm-3" style="width: 18rem;">
                        <img src="~/Imagen/platos/plato3.jpg" class="card-img-top" width="100%">
                        <div class="card-body">
                            <h5 class="card-title" id="tPlato3">Plato 3</h5>
                            <p class="card-text">Descripcion.</p>
                            <button class="btn btn-info c" id="Plato3" value="12000">Agregar</button>
                        </div>
                    </div>
                    <div class="card col-md-3 col-sm-3" style="width: 18rem;">
                        <img src="~/Imagen/platos/plato4.jpg" class="card-img-top" width="100%">
                        <div class="card-body">
                            <h5 class="card-title" id="tPlato4">Plato 4</h5>
                            <p class="card-text">Descripcion.</p>
                            <button class="btn btn-info c" id="Plato4" value="15000">Agregar</button>
                        </div>
                    </div>


                </div>
                <div class="row">

                    <div class="card col-md-3 col-sm-3" style="width: 18rem;">
                        <img src="~/Imagen/platos/plato5.jpg" class="card-img-top" width="100%">
                        <div class="card-body">
                            <h5 class="card-title" id="tPlato5">Langosta</h5>
                            <p class="card-text">Langosta acompañada de una frigolada.</p>
                            <button class="btn btn-info c" id="Plato5" value="23000">Agregar</button>
                        </div>
                    </div>

                    <div class="card col-md-3 col-sm-3" style="width: 18rem;">
                        <img src="~/Imagen/platos/plato6.jpg" class="card-img-top" width="100%">
                        <div class="card-body">
                            <h5 class="card-title" id="tPlato6">Comida china</h5>
                            <p class="card-text">Porcion de arroz chino acompañada de una lumpia.</p>
                            <button class="btn btn-info c" id="Plato6" value="9000">Agregar</button>
                        </div>
                    </div>

                    <div class="card col-md-3 col-sm-3" style="width: 18rem;">
                        <img src="~/Imagen/platos/plato7.jpg" class="card-img-top" width="100%">
                        <div class="card-body">
                            <h5 class="card-title" id="tPlato7">Cerveza</h5>
                            <p class="card-text">Un vaso grande de cerveza artesanal</p>
                            <button class="btn btn-info c" id="Plato7" value="5000">Agregar</button>
                        </div>
                    </div>

                    <div class="card col-md-3 col-sm-3" style="width: 18rem;">
                        <img src="~/Imagen/platos/plato8.jpg" class="card-img-top" width="100%">
                        <div class="card-body">
                            <h5 class="card-title" id="tPlato8">Limonada</h5>
                            <p class="card-text">Vaso de limonada</p>
                            <button class="btn btn-info c" id="Plato8" value="3000">Agregar</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>



        <div class="row">
            <h4>Lista de platos</h4>
            <div class="col-md-10">
                <table class="table table-hover">
                    <thead>
                    <th>Platos a la carta</th>
                    <th>Valor</th>
                    </thead>
                    <tbody id="ContenidoPlato"></tbody>
                </table>
            </div>
        </div>

        <br>
        <div class="card">
            <div class="row">
                <div class="col-sm-6">
                    <button type="button" id="ordenar" class="btn btn-block btn-primary" disabled>Ordenar</button>
                </div>
            </div>
        </div>
    </div>

</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/MenuCliente") 