@{
    ViewBag.Title = "Home Page";
}

<br />
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <center>
                        <b>Iniciar Sesión</b>
                    </center>
                </div>
                <div class="panel-body">
                    <form id="formLogin" action="~/Views/Content/Menu.cshtml" method="post">
                        <div class="row">
                            <div class="col-md-12">
                                <label for="user">Usuario:</label>
                                <input type="text" id="user" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="psw">Contraseña:</label>
                                <input type="password" id="psw" class="form-control" />
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-12">
                                <center>
                                    <button id="Login" class="btn btn-lg btn-primary"> Entrar</button>
                                </center>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>